<form>
    <div class="form form-inline">
        {{#each fields as |field|}}
        <div class="form-group ">
            <label class="sr-only" for="city">Enter the field name:</label>
            {{input type="text" value=field_name name='{{field}}' class="form-control input-md"}}
        </div>
        {{else}}
        <p>No Elements</p>
        {{/each}}
    </div>
    <div class="text-center">
        <a id="add_element" class="btn btn-default text-center">Add Element</a>
    </div>
</form>
