<div id="page-wrapper">
    <form>
        <div class="row form">
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                <h4>Enter Name For This CSV : </h4>
                <br>
                <div class="form-group input-group">
                    <span class="input-group-addon"><i class="fa fa-fw fa-circle"></i></span>
                    <input type="text" class="form-control" placeholder="CSV Name">
                </div>

                <br>
                <br>

                <div class="input-group row">
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <div>
                            <h4>Enter name of the field:</h4>
                            <div class="input-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <input type="text" class="form-control" placeholder="Enter the field name here.">
                            </div>
                        </div>
                        <br>
                        <br>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pull-right">
                        <br>
                        <br>
                        <div class="form-group input-group" style="position: relative;">
                            <div>
                                <button class="btn btn-default" style="border-radius: 50%;" onClick="deleteItemText(elem,$index)"><i class="fa fa-arrows-alt"></i>
                                    <!--Delete Field-->
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <br>
                <br>
            </div>


            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <div class="form-group input-group">
                    <div class="fixed-1">
                        <button class="btn btn-default btn-hover" style="border-radius: 50%;" onClick="addDynamically()" title="Add Field"><i class="fa fa-plus"></i></button>
                    </div>
                    <br>
                    <div class="fixed-2">
                        <button class="btn btn-link" style="border-radius: 50%;" onClick="addEl('TEXT')" title="Add Field"><i class="fa fa-text-width"></i></button>
                    </div>
                    <br>
                    <div class="fixed-3">
                        <button class="btn btn-link" style="border-radius: 50%;" onClick="addEl('DATE')" title="Add Field"><i class="fa fa-dot-circle-o"></i></button>
                    </div>
                    <br>
                    <div class="fixed-4">
                        <button class="btn btn-link" style="border-radius: 50%;" onClick="addEl('email')" title="Add Field"><i class="fa fa-check-square-o"></i></button>
                    </div>
                    <br>
                    <div class="fixed-5">
                        <button class="btn btn-link" style="border-radius: 50%;" onClick="addEl('number')" title="Add Field"><i class="fa fa-star-half-o"></i></button>
                    </div>
                    <div class="fixed-6">
                        <button class="btn btn-link" style="border-radius: 50%;" onClick="addEl('url')" title="Add Field"><i class="fa fa-star-half-o"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{{yield}}
