.loading {
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background: rgba(100, 100, 100, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    align-content: center;
    vertical-align: middle;
    text-align: center;
}
.loading > div {
    top: calc(50% - 60px);
    left: calc(50% - 60px);
    position: absolute;
}
