<<<<<<< HEAD
[data-ember-action]:not(:disabled) {
  cursor: pointer;
}

.color-blue {
    color: royalblue
}
.color-green {
    color: green
}
.color-red {
    color: orangered
}
.border-round {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
}
.margin-right-10px {
    margin-right: 10px
}
.margin-left-10px {
    margin-left: 10px
}
.margin-top-10px {
    margin-top: 10px
}
.margin-bottom-10px {
    margin-bottom: 10px
}
=======
.loading {
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background: rgba(100, 100, 100, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    align-content: center;
    vertical-align: middle;
    text-align: center;
}
.loading > div {
    top: calc(50% - 60px);
    left: calc(50% - 60px);
    position: absolute;
}
>>>>>>> origin/master
