<div class="container">
    {{data-entry-table index=index index1=index1 fieldList=model.fields.firstObject dataList=model.records.firstObject deleteRecs=(action 'deleteRecs') editRecs=(action 'editRecs')}}
</div>
