<div class="container">
    {{data-entry-form fieldList=model.fields.firstObject dataList=model.records.firstObject addFields=(action 'addFields') updateFields=(action 'updateFields') deleteFields=(action 'deleteFields')}}
</div>