<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-offset-3 col-sm-3">
                <button class="btn btn-default">New</button>
            </div>
            <div class="col-sm-3">
                <button class="btn btn-default">Existing</button>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-offset-6 col-sm-3">
                {{input type="file" id="file-up" value=fPath}}
                <button {{action 'loadCsv'}} class="btn btn-default">Load</button>
            </div>
        </div>
    </div>
</div>
{{outlet}}
